.show-page-img {
  max-width: 300px;
}

.show-description {
  width: 400px;
  color: white;
}

.show-description {
  width: 400px;
  color: white;
}

.show-name {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.show-year {
  font-weight: bold;
  color: white;
}

.show-seasons {
  font-weight: bold;
  color: white;
}

.show-episodes {
  font-weight: bold;
  color: white;
}

.show-page-container p {
  color: white;
}

.desc {
  color: white;
}

.desc-bold {
  color:white;
  font-weight: bold;
}