.error-container {
  width: max-content !important;
  margin: auto;
  margin-top: 100px;
  padding: 70px;
  padding-top: 40px;
  color: white;
}

.error-status {
  font-size: 200px;
  font-weight: 600;
}

.error-text {
  font-size: 60px;
}