.movie-navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-navbar-container button {
  color: #5e3500;
}

.movie-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.movie-navbar li {
  float: left;
  height: 100%;
}

.movie-nav-item {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 19px;
  line-height: 30px;
  text-underline-position: under;
}

.movie-nav-item:hover {
  color: #ff8c02;
}

.nav-dropdown {
  position: absolute;
  background-color: rgb(87, 100, 117);
  border: 1px solid black;
  right: 50px;
  display: flex;
  flex-direction: column;
}

.movie-navbar-wrapper h2 {
  color: white;
  margin-top: 0;
  margin-left: 10px;
}

.movie-navbar-wrapper {
  height: auto;
  position: fixed;
  width: 100%;
  top: 70px;
  /* background: #080F3C; */
  background-color: #0B1C26;
  box-shadow: 0 2px 7px rgb(24, 24, 24);
  padding: 10px 50px 15px 50px;
  box-sizing: border-box;
  border-bottom: 1.5px solid rgba(66, 66, 66, 0.233);
}