.movie-navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.movie-navbar li {
  float: left;
  height: 100%;
  margin-bottom: 10px;
}

.movie-nav-item {
  margin: 10px;
  color: white;
}

.movienav-dropdown {
  position: absolute;
  background-color: rgb(87, 100, 117);
  border: 1px solid black;
  right: 50px;
  display: flex;
  flex-direction: column;
}

.movie-navbar-wrapper h2 {
  color: white;
}

.movie-navbar-wrapper{
  position: fixed;
  width: 100%;
  margin-top: 50px;
  background: #080F3C;
}