.navbar-container {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  top: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #0B1C26;
  /* background-color: red; */
  padding: 15px 50px;
  height: 70px;
  z-index: 100;
  border-bottom: 1.5px solid rgba(66, 66, 66, 0.541);
}

.navbar-container button {
  height: 100%;
}

.navbar-container ul {
  justify-content: space-between;
}

.navbar-container li {
  justify-content: space-between;
  margin-left: 10px;
}

.website-logo {
  height: 100%;
  text-decoration: none;
  color: white;
}

.website-logo-img {
  height: 100%;
  margin-right: 15px;
}

.website-logo div {
  font-size: 30px;
  margin-top: 2px;
  margin-right: 20px;
  font-weight: 600;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.navbar li {
  float: left;
  height: 100%;
  margin-left: 20px;
}

.nav-item {
  line-height: 40px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-underline-position: under;
  vertical-align: middle;
  transition: color 0.2s ease-in-out;
}

.nav-item:hover {
  color: #ff8c02;
}

.navbar-button-container {
  min-width: max-content;
}

.navbar-button-container button:first-child {
  margin-right: 10px;
}

#search-button {
  margin-left: 10px;
}