.movie-page-img {
  max-width: 300px;
}

.movie-description {
  width: 400px;
  color: white;
}

.movie-name {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.movie-year {
  font-weight: bold;
  color: white;
}

.movie-page-container p{
  color: white;
}

.desc {
  color: white;
}

.desc-bold {
  color:white;
  font-weight: bold;
}