.movie-navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.movie-navbar li {
  float: left;
  height: 100%;
}