.movie-page-img {
  max-width: 300px;
}

.movie-info-container {
  margin-top: 20px;
}

.movie-year {
  font-weight: 200;
  font-size: 24px;
  margin-top: 5px !important;
}
.movie-page-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}