.movie-page-img {
  max-width: 300px;
}

.movie-info-container {
  margin-top: 20px;
}

.movie-year {
  font-weight: 200;
  font-size: 24px;
  margin-top: 5px !important;
}

/* .movie-page-container {
  height: 90vh;
}



.movie-description {
  width: 400px;
  color: white;
}

.movie-name {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.movie-year {
  font-weight: bold;
  color: white;
} */


/*
.desc {
  color: white;
}

.desc-bold {
  color:white;
  font-weight: bold;
}

.icon {
  margin: 20px;
}

.like-dislike {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3em;
  margin-left: 1em;
}

.like-dislike > label { 
  margin-right: 0.2em;
  margin-top: 0.2em;
}

.like-dislike {
  margin-bottom: 20px;
}

.previous-reviews {
  margin-top: 20px;
  margin-bottom: 20px;
}

.previous-reviews label {
  margin: 20px;
} */