.movie-list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 50px;
}

.movie-list-container .movie-card-container {
  margin: 15px;
}