.edit-user-container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 40px 50px;
}

.edit-user-container * {
  box-sizing: border-box;
}

#edit-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-input-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.user-input-container + .user-input-container {
  margin-top: 25px;
}

.user-input-container * {
  width: 100%;
}

.user-input-container input {
  font-size: 16px;
  padding: 5px 10px;
  height: 40px;
}

.user-input-container label {
  color: #ff8c02;
  font-size: 18px;
  margin-bottom: 8px;
  margin-left: 3px;
  font-weight: 600;
}

.edit-user-container button { 
  width: 40%;
  height: 40px;
  font-size: 16px;
  margin-top: 30px;
}