.edit-user-container {
  width: 450px;
  margin: auto;
  margin-top: 50px;
  padding: 40px 50px;
}

.edit-user-container * {
  box-sizing: border-box;
}

.edit-user-container h1 {
  margin: 0;
  margin-bottom: 30px;
  color: white !important;
}

#edit-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.edit-user-container button { 
  width: 40%;
  height: 40px;
  font-size: 16px;
  margin-top: 30px;
}