#review-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 20px 40px 30px 40px;
  background-color: rgba(70, 89, 100, 0.644);
  border-radius: 20px;
}

#review-form .like-dislike-container button {
  padding: 0;
}

.form-like-button {
  margin-right: 15px !important;
}

#user-review {
  resize: vertical;
  min-height: 50px;
  font-size: 16px;
  margin-bottom: 20px;
}

.review-form-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-form-buttons .form-error {
  margin: 0 !important;
}

.form-like-button, .form-dislike-button {
  width: min-content;
  margin: 0;
  background-color: transparent;
  border: 0;
  color: white;
}

.form-like-button:hover, .form-dislike-button:hover {
  filter: brightness(0.8);
}

.form-like-button:active, .form-dislike-button:active {
  filter: brightness(0.6);
}

.liked {
  color: #63d138 !important;
}

.disliked, .review-error {
  color: #f14848 !important;
}

.form-submit {
  color: #5e3500 !important;
}
