#review-form {
  display: flex;
  flex-direction: column;
}

.like-dislike-container {
  display: flex;
  flex-direction: row;
}

.form-like-button, .form-dislike-button {
  width: min-content;
  margin: 0;
  background-color: transparent;
  border: 0;
  color: white;
}

.form-like-button:hover, .form-dislike-button:hover {
  filter: brightness(0.8);
}

.form-like-button:active, .form-dislike-button:active {
  filter: brightness(0.6);
}

.liked {
  color: greenyellow !important;
}

.disliked, .review-error {
  color: red !important;
}

