.user-page-container {
  width: 60%;
  margin: 0 auto 60px auto;
  padding: 40px;
  color: white;
}

.profile-heading-container {
  margin-bottom: 30px;
}

.profile-heading-container h1 {
  margin: 0 !important;
}

.profile-heading-container button {
  height: 30px;
}

.profile-heading-container div button:first-child {
  margin-right: 15px;
}

.user-page-container .card-background {
  background-color: initial;
}

.user-page-container .media-list-wrapper {
  padding: 0;
}