.trending-rank{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    padding-right: 90px !important;
    padding-left: 90px !important;
}
/* .home-page-container p{
    text-align: center;
    color: white;
  }
  
  .home-page-container h1{
    text-align: center;
    color: white;
  } */
