.login-container {
  width: 400px;
  margin: auto;
  margin-top: 200px;
  padding: 40px 50px;
}

.login-container * {
  box-sizing: border-box;
}

.login-container h1 {
  margin: 0;
  margin-bottom: 30px;
  color: white !important;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-container button { 
  color: #5e3500 !important;
  width: 40%;
  height: 40px;
  font-size: 16px;
  margin-top: 30px;
}