.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: cadetblue; */
  padding: 10px;
  height: 40px;
  border-bottom: 1px solid black;
}

.nav-bar-container button {
  height: 100%;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333333; */
}

.nav-bar li {
  float: left;
  height: 100%;
}

.nav-item {
  height: 100%;
  /* color: red; */
}

/* .nav-bar-item * {
  height: 100%;
} */
