.search-bar-container {
  height: 100% !important;
  position: relative;
  width: 40%;
  flex-wrap: nowrap;
  margin: 0 20px;
}

#search-bar {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  padding-left: 10px;
  outline: 1px solid black;
}

.search-bar-container label {
  color: white;
  margin-right: 10px;
}

.autocomplete-div {
  z-index: 999;
  position: absolute;
  top: 45px;
  background: white;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  color: black;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  border-radius: 10px;
  width: 400px;
  margin-left: 10px;
  background-color: rgb(70, 81, 92);
}

.searchInput {
  border-radius: 10px 0 0 10px !important;
}

.autocomplete-div a {
  margin: 0;
  padding: 10px 15px;
  width: 100%;
  text-decoration: none;
  color: white;
}

.autocomplete-div p {
  margin-left: 15px;
  color: white;
}

.autocomplete-div a:hover{
  cursor: pointer;
  background-color: rgb(58, 68, 77);
}

.result-title{
  color: #ff8c02;
  margin: 15px;
}

.search-reset-button {
  border-radius: 0 10px 10px 0;
  background-color: rgb(255, 255, 255);
  color: rgb(109, 109, 109);
  font-size: 20px;
  font-weight: 100;
}