.search-bar-container {
  height: 100% !important;
  position: relative;
  width: 40%;
  flex-wrap: nowrap;
  margin: 0 20px;
}

#search-bar {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0 0 0 5px;
  outline: 1px solid black;
}

.search-bar-container label {
  color: white;
  margin-right: 10px;
}

.autocomplete-div {
  z-index: 999;
  position: absolute;
  top: 40px;
  background: white;
  max-height: 300px;
  overflow-y: auto;
  color: black;
}

.autocomplete-div p {
  margin: 0;
  padding: 10px 5px;
  width: 250px;
}

.autocomplete-div p:hover{
  cursor: pointer;
  background: #F8F9F9;
}

.result-title{
  -webkit-text-stroke: 0.5px red;
  color: Black;
}