.search-bar-container {
  height: 100% !important;
  /* padding: 5px 0 5px 0; */
}

#search-bar {
  height: 100%;
  border: 0;
  padding: 0 0 0 5px;
  outline: 1px solid black;
}

.search-bar-container label {
  color: white;
  margin-right: 10px;
}